<!DOCTYPE html>
<html lang="ja" ng-app="myapp">
    <head>
        <meta charset="UTF-8">
        <title>Angularの練習</title>
        <script src="angular.min.js"></script>
        <script src="myscript.js"></script>
        <style>
            .even{
                background:#ccc;
            }
            .odd{
                background:#444;
            }
        </style>
    </head>
    <body>
        <div ng-controller="MainController">
            <p>{{users.length}} users.</p>
            <p><input type="text" ng-model="query"></p>
            <table>
                <tr ng-repeat="user in users|filter:query" ng-class-even="'even'" ng-class-odd="'odd'">
                    <td>{{$index+1}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.score}}</td>
                </tr>
            </table>
        </div>
    </body>
</html>